@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Use 'bg-carna-bg' and 'text-carna-text' to match your config */
    /* Add 'dark:bg-carna-bg' if you want the same dark color in both, 
       or use a different hex in the config */
    @apply bg-white text-slate-900 dark:bg-carna-bg dark:text-carna-text font-sans transition-colors duration-300;
  }

  h1, h2, h3 {
    @apply font-serif;
  }
}